DATABASE_URL="postgresql://your-user:your-pwd@localhost:5432/your_db_name?schema=public"
JWT_ACCESS_SECRET=yourAccessTokenSecret
JWT_REFRESH_SECRET=yourRefreshTokenSecret
ACCESS_TOKEN_EXPIRY=3600  
REFRESH_TOKEN_EXPIRY=80000 
REDIS_URL=redis://localhost:6379
DATABASE_TIMEZONE=YourTimeZone
DB_NAME=YourDbName
